body{
    background-image: url('retro_wave.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
img{
    width: 100%;
    height: 100%;
}
h1{
    color: white;
}